mixin item(title, descr)
  .item
    h2.item-title= title
    p.item-descr= descr

mixin logo()
  svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo")
    path(d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill="#1F2041" fill-opacity="0.25")
    path(d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill="#1F2041" fill-opacity="0.25")
    path(d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25")

mixin color-dark_item(perOfShade)
  div(class=`colors-list__image colors-list__image_shade` + perOfShade)
  .colors-list__text
    span.colors-list__title Dark Shade #{perOfShade}%
    br
    span.colors-list__content #1F2041

mixin color_item(color, hex)
  div(class=`colors-list__image colors-list__image_` + color)
  .colors-list__text
    span.colors-list__title #{color}
    br
    span.colors-list__content #{hex}

mixin type_item(tag, text)
  div(class="type-list__item_" + tag)
    .type-list__item_left #{tag}
    .type-list__item_right #{text}

mixin text-field(label_text, type, input_class, placeholder_text)
  label(for= type,class="form-element__text") #{label_text}
  br
  input(type=type,id=type, class=input_class, placeholder=placeholder_text)

mixin dropdown(text, select_class, option_text)  
  span.form-element__text #{text}
  br
  select(class=select_class)
    option(selected="selected") #{option_text}

mixin dropdown_date(text, select_class, option_text)
  span.form-element__text #{text}
  br
  select(class=select_class)
    option(selected="selected") #{option_text}
  +arrow-down

mixin arrow-down
  .arrow.arrow_down
    <i class="material-icons arrow_down">keyboard_arrow_down</i>

mixin arrow-forward
  .arrow
    <i class="material-icons arrow-forward">arrow_forward</i>

mixin dropdown_expanded(text, label_text, label_class, list_class, number_value, ...option_texts)  
  span.form-element__text #{text}
  br
  label(for="form-element__input_hidden" class="form-element__select " + label_class) #{label_text}
  +arrow-down
  input(type="checkbox" id="form-element__input_hidden")                
  div(class="options-list form-element__text " + list_class)
      each option_text, index in option_texts
        .option-item
          span #{option_text}
          .option-counter
            span.minus -
            span.number #{number_value}
            span.plus +
      

mixin checkbox_expanded(name, id_start, ...label_texts)    
  .form-elements__checkboxes_content
    each label_text, index in label_texts
      .form-elements__checkboxes_item
        input(type="checkbox" id="checkbox" + id_start + "_" + index name= name value=label_text)
        label(for="checkbox" + id_start + "_" + index class="form-elements__checkboxes_label") #{label_text}
        
      

mixin number-information__item(pic_text, title, text)
  .number-information__item
    .number-information__pic
      <i class="material-icons face">#{pic_text}</i>
    .number-information__content
      span.number-information__title #{title}
      br
      span.number-information__text #{text}

mixin radio_list
  br
  label(for="form-element__input_hidden" class="form-element__select " + label_class) #{label_text}
  +arrow-down
  input(type="checkbox" id="form-element__input_hidden")



